.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.border1 {
  border: 5px solid black;
  border-radius: 5px;
}

.border2 {
  border: 5px solid black;
  border-radius: 5px;
}

.border3 {
  border: 5px solid black;
  border-radius: 5px;
}

.border4 {
  border: 5px solid red;
  border-radius: 5px;
}
